<footer class="navy-bg-color text-white">
    <div class="container">
        <div class="row py-5">
            <div class="col-md-4 text-center">
                <h3>LOCATION</h3>
                <p>2215 John Daniel Drive</p>
                <p>Clark, MO 65243</p>
            </div>
            <div class="col-md-4 text-center">
                <h3>AROUND THE WEB</h3>
                <ul class="ps-0 mx-auto d-flex justify-content-center">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <li class="fa-brands fa-facebook"></li>
                    </div>
                    <div class="icon d-flex justify-content-center align-items-center mx-3">
                        <li class="fa-brands fa-twitter"></li>
                    </div>
                    <div class="icon d-flex justify-content-center align-items-center me-3">
                        <li class="fa-brands fa-linkedin-in"></li>
                    </div>
                    <div class="icon d-flex justify-content-center align-items-center">
                        <li class="fa-solid fa-globe"></li>
                    </div>
                </ul>
            </div>
            <div class="col-md-4 text-center">
                <h3>ABOUT FREELANCER</h3>
                <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div>
        </div>
    </div>
    <div class="text-center py-2 dark-navy-bg-color">
        <p class="pt-2">Copyright © Your Website 2021</p>
    </div>
</footer>