<section class="bg-light-blue text-white d-flex justify-content-center align-items-center py-5">
    <div class=" py-5">
        <app-staricon class="mt-5" [headingFromSection]="heading" [colorFromSection]="color" [bgColorFromSection]="bgcolor"></app-staricon>
        <div class="container">
            <div class="row px-5 py-1">
                <div class="col-md-6">
                    <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
                </div>
                <div class="col-md-6">
                    <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
                </div>
            </div>
        </div>
    </div>
</section>