<section class="portfolio d-flex justify-content-center align-items-center bg-light">
    <div>
        <app-staricon [headingFromSection]="heading" [colorFromSection]="color" [bgColorFromSection]="bgcolor"></app-staricon>
        <div class="container pb-5">
            <div class="row g-5">
                <div class="col-lg-4 col-md-6">
                    <div (click)="getURL('assets/images/poert1.png')" class="img cursor-pointer position-relative rounded-2 overflow-hidden">
                        <img class="w-100 click" src="assets/images/poert1.png" alt=""/>
                        <div class="layer d-flex justify-content-center align-items-center">
                            <i class="fa-solid fa-plus text-white fa-5x"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div (click)="getURL('assets/images/poert1.png')" class="img cursor-pointer position-relative rounded-2 overflow-hidden">
                        <img class="w-100 click" src="assets/images/port2.png" alt=""/>
                        <div class="layer d-flex justify-content-center align-items-center">
                            <i class="fa-solid fa-plus text-white fa-5x"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div (click)="getURL('assets/images/poert1.png')" class="img cursor-pointer position-relative rounded-2 overflow-hidden">
                        <img class="w-100 click" src="assets/images/port3.png" alt=""/>
                        <div class="layer d-flex justify-content-center align-items-center">
                            <i class="fa-solid fa-plus text-white fa-5x"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div (click)="getURL('assets/images/poert1.png')" class="img cursor-pointer position-relative rounded-2 overflow-hidden">
                        <img class="w-100 click" src="assets/images/poert1.png" alt=""/>
                        <div class="layer d-flex justify-content-center align-items-center">
                            <i class="fa-solid fa-plus text-white fa-5x"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div (click)="getURL('assets/images/poert1.png')" class="img cursor-pointer position-relative rounded-2 overflow-hidden">
                        <img class="w-100 click" src="assets/images/port2.png" alt=""/>
                        <div class="layer d-flex justify-content-center align-items-center">
                            <i class="fa-solid fa-plus text-white fa-5x"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div (click)="getURL('assets/images/poert1.png')" class="img cursor-pointer position-relative rounded-2 overflow-hidden">
                        <img class="w-100 click" src="assets/images/port3.png" alt=""/>
                        <div class="layer d-flex justify-content-center align-items-center">
                            <i class="fa-solid fa-plus text-white fa-5x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="model" [class]="imgURL != '' ? 'd-flex' : 'd-none'" class="model bg-info bg-opacity-25">
            <img [src]="imgURL" class="w-50" alt=""/>
        </div>
    </div>
</section>