/* You can add global styles to this file, and also import other style files */

.bg-light-blue{
    background-color: #1ABC9C;
}

.navy-bg-color{
    background-color: #2C3E50;
}
.dark-navy-bg-color{
    background-color: #1A252F;
}
ul{
    text-decoration: none;
}
.navy-text-color{
    color: #2C3E50;
}